<!DOCTYPE HTML>
<html>

<head>
    <title>ACD</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="Template, html, premium, themeforest" />
    <meta name="description" content="Traveler - Premium template for travel companies">
    <meta name="author" content="Tsoy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
    <!-- /GOOGLE FONTS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mystyles.css">
    <script src="js/modernizr.js"></script>


</head>

<body>

<!-- FACEBOOK WIDGET -->
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- /FACEBOOK WIDGET -->
<div class="global-wrap">
    <header id="main-header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a class="logo" href="/">
                            <img src="img/ACD_Final_Logo_2.png" alt="Image Alternative text" title="Image Title" />
                        </a>
                    </div>
                    <div class="col-md-3 col-md-offset-2">
                        <!--<form class="main-header-search">
                            <div class="form-group form-group-icon-left">
                                <i class="fa fa-search input-icon"></i>
                                <input type="text" class="form-control">
                            </div>
                        </form>-->
                    </div>
                    <div class="col-md-4">
                        <div class="top-user-area clearfix">
                            <ul class="top-user-area-list list list-horizontal list-border">
                                <li class="top-user-area-avatar">
                                    <a href="/edit-account?email=<%=data.assigneeemail%>">
                                        <img class="origin round" src="img/40x40.png" alt="Image Alternative text" title="AMaze" />Hi, <%= data.fname %></a>
                                </li>
                                <li><a href="/logout">Sign Out</a>
                                </li>
                                <li class="nav-drop"><a href="#">USD $<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
                                    <ul class="list nav-drop-menu">
                                        <li><a href="#">EUR<span class="right">€</span></a>
                                        </li>
                                        <li><a href="#">GBP<span class="right">£</span></a>
                                        </li>
                                        <li><a href="#">JPY<span class="right">円</span></a>
                                        </li>
                                        <li><a href="#">CAD<span class="right">$</span></a>
                                        </li>
                                        <li><a href="#">AUD<span class="right">A$</span></a>
                                        </li>
                                    </ul>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="container">
            <div class="nav">
                <ul class="slimmenu" id="slimmenu">
                    <li><a href="/">Home</a>
                        <ul>
                            <li><a href="/">Default</a>
                            </li>
                            <li><a href="index-1.html">Layout 1</a>
                            </li>
                            <li><a href="index-2.html">Layout 2</a>
                            </li>
                            <li><a href="index-3.html">Layout 3</a>
                            </li>
                            <li><a href="index-4.html">Layout 4</a>
                            </li>
                            <li><a href="index-5.html">Layout 5</a>
                            </li>
                            <li><a href="index-6.html">Layout 6</a>
                            </li>
                            <li><a href="index-7.html">Layout 7</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="success-payment.html">Pages</a>
                        <ul>
                            <li><a href="success-payment.html">Success Payment</a>
                            </li>
                            <li><a href="user-profile.html">User Profile</a>
                                <ul>
                                    <li><a href="user-profile.html">Overview</a>
                                    </li>
                                    <li><a href="user-profile-settings.html">Settings</a>
                                    </li>
                                    <li><a href="user-profile-photos.html">Photos</a>
                                    </li>
                                    <li><a href="user-profile-booking-history.html">Booking History</a>
                                    </li>
                                    <li><a href="user-profile-cards.html">Cards</a>
                                    </li>
                                    <li><a href="user-profile-wishlist.html">Wishlist</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog</a>
                                <ul>
                                    <li><a href="blog.html">Sidebar Right</a>
                                    </li>
                                    <li><a href="blog-sidebar-left.html">Sidebar Left</a>
                                    </li>
                                    <li><a href="blog-full-width.html">Full Width</a>
                                    </li>
                                    <li><a href="blog-post.html">Post</a>
                                        <ul>
                                            <li><a href="blog-post.html">Sidebar Right</a>
                                            </li>
                                            <li><a href="blog-post-sidebar-left.html">Sidebar Left</a>
                                            </li>
                                            <li><a href="blog-post-full-width.html">Full Width</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="404.html">404 page</a>
                            </li>
                            <li><a href="contact-us.html">Contact Us</a>
                            </li>
                            <li><a href="about.html">About</a>
                            </li>
                            <li><a href="login-register.html">Login/Register</a>
                                <ul>
                                    <li><a href="login-register.html">Full Page</a>
                                    </li>
                                    <li><a href="login-register-normal.html">Normal</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="loading.html">Loading</a>
                            </li>
                            <li><a href="comming-soon.html">Comming Soon</a>
                            </li>
                            <li><a href="gallery.html">Gallery</a>
                                <ul>
                                    <li><a href="gallery.html">4 Columns</a>
                                    </li>
                                    <li><a href="gallery-3-col.html">3 columns</a>
                                    </li>
                                    <li><a href="gallery-2-col.html">2 columns</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="page-full-width.html">Full Width</a>
                            </li>
                            <li><a href="page-sidebar-right.html">Sidebar Right</a>
                            </li>
                            <li><a href="page-sidebar-left.html">Sidebar Left</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="feature-typography.html">Features</a>
                        <ul>
                            <li><a href="feature-typography.html">Typography</a>
                            </li>
                            <li><a href="feature-icons.html">Icons</a>
                            </li>
                            <li><a href="feature-forms.html">Forms</a>
                            </li>
                            <li><a href="feature-icon-effects.html">Icon Effects</a>
                            </li>
                            <li><a href="feature-elements.html">Elements</a>
                            </li>
                            <li><a href="feature-grid.html">Grid</a>
                            </li>
                            <li><a href="feature-hovers.html">Hover effects</a>
                            </li>
                            <li><a href="feature-lightbox.html">Lightbox</a>
                            </li>
                            <li><a href="feature-media.html">Media</a>
                            </li>
                        </ul>
                    </li>
                    <li class="active"><a href="hotels.html">Hotels</a>
                        <ul>
                            <li><a href="hotel-details.html">Details</a>
                                <ul>
                                    <li><a href="hotel-details.html">Layout 1</a>
                                    </li>
                                    <li><a href="hotel-details-2.html">Layout 2</a>
                                    </li>
                                    <li><a href="hotel-details-3.html">Layout 3</a>
                                    </li>
                                    <li><a href="hotel-details-4.html">Layout 4</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="hotel-payment.html">Payment</a>
                                <ul>
                                    <li><a href="hotel-payment.html">Registered</a>
                                    </li>
                                    <li><a href="hotel-payment-registered-card.html">Existed Cards</a>
                                    </li>
                                    <li><a href="hotel-payment-unregistered.html">Unregistered</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="hotel-search.html">Search</a>
                                <ul>
                                    <li><a href="hotel-search.html">Layout 1</a>
                                    </li>
                                    <li><a href="hotel-search-2.html">Layout 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="active"><a href="hotels.html">Results</a>
                                <ul>
                                    <li><a href="hotels.html">Layout 1</a>
                                    </li>
                                    <li><a href="hotels-search-results-2.html">Layout 2</a>
                                    </li>
                                    <li class="active"><a href="hotels-search-results-3.html">Layout 3</a>
                                    </li>
                                    <li><a href="hotels-search-results-4.html">Layout 4</a>
                                    </li>
                                    <li><a href="hotel-search-results-5.html">Layout 5</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="flights.html">Flights</a>
                        <ul>
                            <li><a href="flight-payment.html">Payment</a>
                                <ul>
                                    <li><a href="flight-payment.html">Registered</a>
                                    </li>
                                    <li><a href="flight-payment-registered-card.html">Existed Cards</a>
                                    </li>
                                    <li><a href="flight-payment-unregistered.html">Unregistered</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="flight-search.html">Search</a>
                                <ul>
                                    <li><a href="flight-search.html">Layout 1</a>
                                    </li>
                                    <li><a href="flight-search-2.html">Layout 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="flights.html">List</a>
                                <ul>
                                    <li><a href="flights.html">Layout 1</a>
                                    </li>
                                    <li><a href="flights-search-results-2.html">Layout 2</a>
                                    </li>
                                    <li><a href="flights-search-results-3.html">Layout 3</a>
                                    </li>
                                    <li><a href="flights-search-results-4.html">Layout 4</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="rentals.html">Rentals</a>
                        <ul>
                            <li><a href="rentals-details.html">Details</a>
                                <ul>
                                    <li><a href="rentals-details.html">Layout 1</a>
                                    </li>
                                    <li><a href="rentals-details-2.html">Layout 2</a>
                                    </li>
                                    <li><a href="rentals-details-3.html">Layout 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="rental-payment.html">Payment</a>
                                <ul>
                                    <li><a href="rental-payment.html">Registered</a>
                                    </li>
                                    <li><a href="rental-payment-registered-card.html">Existed Cards</a>
                                    </li>
                                    <li><a href="rental-payment-unregistered.html">Unregistered</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="rentals-search.html">Search</a>
                                <ul>
                                    <li><a href="rentals-search.html">Layout 1</a>
                                    </li>
                                    <li><a href="rentals-search-2.html">Layout 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="rentals.html">Results</a>
                                <ul>
                                    <li><a href="rentals.html">Layout 1</a>
                                    </li>
                                    <li><a href="rentals-search-results-2.html">Layout 2</a>
                                    </li>
                                    <li><a href="rentals-search-results-3.html">Layout 3</a>
                                    </li>
                                    <li><a href="rentals-search-results-4.html">Layout 4</a>
                                    </li>
                                    <li><a href="rentals-search-results-5.html">Layout 5</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="cars.html">Cars</a>
                        <ul>
                            <li><a href="car-details.html">Details</a>
                            </li>
                            <li><a href="car-payment.html">Payment</a>
                                <ul>
                                    <li><a href="car-payment.html">Registered</a>
                                    </li>
                                    <li><a href="car-payment-registered-card.html">Existed Cards</a>
                                    </li>
                                    <li><a href="car-payment-unregistered.html">Unregistered</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="car-search.html">Search</a>
                                <ul>
                                    <li><a href="car-search.html">Layout 1</a>
                                    </li>
                                    <li><a href="car-search-2.html">Layout 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="cars.html">Results</a>
                                <ul>
                                    <li><a href="cars.html">Layout 1</a>
                                    </li>
                                    <li><a href="cars-results-2.html">Layout 2</a>
                                    </li>
                                    <li><a href="cars-results-3.html">Layout 3</a>
                                    </li>
                                    <li><a href="cars-results-4.html">Layout 4</a>
                                    </li>
                                    <li><a href="cars-results-5.html">Layout 5</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="activities.html">Activities</a>
                        <ul>
                            <li><a href="activitiy-details.html">Details</a>
                                <ul>
                                    <li><a href="activitiy-details.html">Layout 1</a>
                                    </li>
                                    <li><a href="activitiy-details-2.html">Layout 2</a>
                                    </li>
                                    <li><a href="activitiy-details-3.html">Layout 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="activity-search.html">Search</a>
                                <ul>
                                    <li><a href="activity-search.html">Layout 1</a>
                                    </li>
                                    <li><a href="activity-search-2.html">Layout 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="activitiy-payment.html">Payment</a>
                                <ul>
                                    <li><a href="activitiy-payment.html">Registered</a>
                                    </li>
                                    <li><a href="activity-payment-registered-card.html">Existed Cards</a>
                                    </li>
                                    <li><a href="activitiy-payment-unregistered.html">Unregistered</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="activities.html">Results</a>
                                <ul>
                                    <li><a href="activities.html">Layout 1</a>
                                    </li>
                                    <li><a href="activities-search-results-2.html">Layout 2</a>
                                    </li>
                                    <li><a href="activities-search-results-3.html">Layout 3</a>
                                    </li>
                                    <li><a href="activities-search-results-4.html">Layout 4</a>
                                    </li>
                                    <li><a href="activities-search-results-5.html">Layout 5</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>-->
    </header>





    <div class="container">
        <!--<ul class="breadcrumb">
            <li><a href="/">Home</a>
            </li>
            <li><a href="#">United States</a>
            </li>
            <li><a href="#">New York (NY)</a>
            </li>
            <li><a href="#">New York City</a>
            </li>
            <li class="active">New York City Hotels</li>
        </ul>-->

        <form action = '/' method = 'get'>
            <label>Filtered By </label>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-group-icon-left">
                        <label>Customer Email:</label>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group form-group-icon-left">
                        <label>Customer Name: </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-group-icon-left">
                        <label>       </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-group-icon-left">
                        <input class="typeahead form-control" name = 'email' id = 'email' value=""  type="text" />
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group form-group-icon-left">
                        <input class="typeahead form-control" name = 'name' id = 'name' value=""  type="text" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-group-icon-left">
                        <input class="btn btn-primary" value = 'Search' type = 'submit'></input>
                    </div>
                </div>
            </div>

        </form>
        <br/>
        <div class="row">

            <div class="col-md-12">
                <%if (data.type == 1){%>
                    <table>
                        <tr>
                            <td>
                                <a class="btn btn-primary" href="add-project">Add Project</a>
                            </td>
                            <td>
                                <div class="nav">
                                    <ul class="slimmenu" id="slimmenu">
                                        <li><a href="/">Account</a>
                                            <ul>
                                                <li><a href="register">Create</a>
                                                </li>
                                               <li><a href="maintenance">Maintenance</a>
                                                </li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                            <td>
                                <div class="nav">
                                    <ul class="slimmenu" id="slimmenu">
                                        <li><a href="/">Export Excel</a>
                                            <ul>
                                                <li><a href="export-excel/project">Project Detail</a>
                                                </li>

                                                <li>
                                                    <a data-toggle="modal" data-target="#myModal" id = 'payment'>Task Payment</a>

                                                </li>

                                                <li>
                                                    <a href="export-excel/project-payment">Project Payment</a>

                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                            </td>
                            <td>
                                <a class="btn btn-primary" href="/show-task">Tasks</a>
                            </td>


                        </tr>

                    </table>


                <%} else {%>
                <table>
                    <tr>
                        <td>
                            <% if (data.project.length > 0){%>
                                <a class="btn btn-primary" href="/show-task?assigneeflt=<%=data.assigneeemail%>">Tasks</a>
                            <%}%>

                        </td>
                        <td>
                            <div class="nav">
                                <ul class="slimmenu" id="slimmenu">
                                    <li><a href="/">Action</a>
                                        <ul>
                                            <li><a href="/edit-account?email=<%=data.assigneeemail%>">User Detail</a>
                                            </li>
                                            <li>
                                                <a data-toggle="modal" data-target="#myModal" id = 'payment'>Payment</a>

                                            </li>
                                            <li>
                                                <a href="/reset-password?id=<%=data.userid%>" >Reset PassWord</a>

                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </td>
                    </tr>

                </table>
                <%}%>
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModal">
                    <div class="modal-dialog modal-lg" role="document">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Payment</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <%if(data.type == 1){%>
                                    <div class="col-md-3">
                                        <h5 class="booking-item-title">Assignee</h5>
                                    </div>
                                    <%}%>

                                    <div class="col-md-3">
                                        <h5 class="booking-item-title">Project</h5>
                                    </div>
                                    <div class="col-md-2">
                                        <h5 class="booking-item-title">Task</h5>
                                    </div>
                                    <div class="col-md-2">
                                        <h5 class="booking-item-title">Status</h5>
                                    </div>

                                </div>


                                <div class="row">
                                    <%if(data.type == 1){%>
                                        <div class="col-md-3">
                                            <input class="typeahead form-control" name = 'assigneeflt' id = 'assigneeflt' value=""  type="text" />
                                        </div>
                                    <%} else {%>
                                        <input class="typeahead form-control" name = 'assigneeflt' id = 'assigneeflt' value="<%=data.assigneeemail%>"  type="text" style="display: none"/>
                                    <%}%>

                                    <div class="col-md-3">
                                        <input class="typeahead-project form-control" name = 'projectflt' id = 'projectflt' value=""  type="text" />
                                    </div>
                                    <div class="col-md-2">
                                        <input class="typeahead-task form-control" name = 'taskflt' id = 'taskflt' value=""  type="text" />
                                    </div>
                                    <div class="col-md-2">
                                        <select id = "statusflt" name = "statusflt">
                                            <option value = '1' selected>Un-paid</option>
                                            <option value = '2'>Paid</option>

                                        </select>
                                    </div>
                                </div>



                                    <div class="row">
                                        <div class="col-md-3">
                                            <h5 class="booking-item-title">From</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5 class="booking-item-title">To</h5>
                                        </div>
                                    </div>


                                <div class="row">
                                     <div class="col-md-3">
                                         <input class=" form-control" name = 'fromflt' id = 'fromflt' value=""  type="date" />
                                     </div>
                                     <div class="col-md-3">
                                         <input class=" form-control" name = 'toflt' id = 'toflt' value=""  type="date" />
                                     </div>
                                 </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <button class="btn btn-primary" id = 'search' name = 'search' >Apply</button>
                                    </div>

                                </div>
                                <hr width="1" size="500">
                                <div class="row" id="standart-row" name="standart-row">
                                    <div class="col-md-2">
                                        <h4 class="booking-item-title">Name</h4>
                                    </div>
                                    <div class="col-md-2">
                                        <h4 class="booking-item-title">Email</h4>
                                    </div>
                                    <div class="col-md-2">
                                        <h4 class="booking-item-title">Salary/Hour</h4>
                                    </div>
                                    <div class="col-md-2">
                                        <h4 class="booking-item-title">Project</h4>
                                    </div>
                                    <div class="col-md-2">
                                        <h4 class="booking-item-title">Task</h4>
                                    </div>
                                    <div class="col-md-2">
                                        <h4 class="booking-item-title">Estimate</h4>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-default" data-dismiss="modal" data-r >Ok</a>
                                <a type="button" class="btn btn-default" data-dismiss="modal" data-r id ='modalExport' name = 'modalExport' >Export Excel</a>
                                <%if(data.type == 1){%>
                                    <a type="button" class="btn btn-default" data-dismiss="modal" data-r id ='modalPaid' name = 'modalPaid' >Paid( Update Status)</a>
                                <%}%>

                            </div>
                        </div>

                    </div>
                </div>

                <script type="text/javascript" charset="utf-8">

                    $(document).ready(function () {
                        $('#modalExport').click(function () {
                            var assigneeVal = document.getElementById('assigneeflt').value;
                            var projectVal = document.getElementById('projectflt').value;
                            var taskVal = document.getElementById('taskflt').value;
                            var fromVal = document.getElementById('fromflt').value;
                            var toVal = document.getElementById('toflt').value;
                            var statusVal = document.getElementById('statusflt').value;
                            window.location.href="/export-excel/count?assigneeflt=" + assigneeVal+"&projectflt="+projectVal+"&taskflt="+taskVal+"&fromflt="+fromVal+"&toflt="+toVal+"&statusflt="+statusVal;

                        });

                    });
                    $(document).ready(function () {
                        $('#modalPaid').click(function () {
                            var assigneeVal = document.getElementById('assigneeflt').value;
                            var projectVal = document.getElementById('projectflt').value;
                            var taskVal = document.getElementById('taskflt').value;
                            var fromVal = document.getElementById('fromflt').value;
                            var toVal = document.getElementById('toflt').value;
                            window.location.href="/export-excel/paid?assigneeflt=" + assigneeVal+"&projectflt="+projectVal+"&taskflt="+taskVal+"&fromflt="+fromVal+"&toflt="+toVal;

                        });

                    });
                    $(document).ready(function () {
                        $('#search').click(function () {
                            var obj = $(this);
                            var assigneeVal = document.getElementById('assigneeflt').value;
                            var projectVal = document.getElementById('projectflt').value;
                            var taskVal = document.getElementById('taskflt').value;
                            var fromVal = document.getElementById('fromflt').value;
                            var toVal = document.getElementById('toflt').value;
                            var statusVal = document.getElementById('statusflt').value;
                            $('#newRow').remove();
                            $.ajax({
                                type: "POST",
                                url: "./ajax/count",
                                data: "mode=checkEmailAddProject&assigneeflt=" + assigneeVal+"&projectflt="+projectVal+"&taskflt="+taskVal+"&fromflt="+fromVal+"&toflt="+toVal+"&statusflt="+statusVal,
                                cache: false,
                                success: function (msg) {
                                    //alert(msg);
                                    data = msg;
                                    var append = '<div class="row" id = "newRow" name = "newRow">\n';


                                    /*result = datas.names;*/
                                    $.each(msg.detail, function(index, val) {
                                        append +='<div class="row">\n' +
                                            '                                        <div class="col-md-2">\n' +
                                            '                                            <h6 class="booking-item-title">'+val.firstname +' '+val.lastname+'</h6>\n' +
                                            '                                        </div>\n' +
                                            '                                        <div class="col-md-2">\n' +
                                            '                                            <h6 class="booking-item-title">'+val.email +'</h6>\n' +
                                            '                                        </div>\n' +
                                            '                                        <div class="col-md-2">\n' +
                                            '                                            <h6 class="booking-item-title">'+val.salary +'</h6>\n' +
                                            '                                        </div>\n' +
                                            '                                        <div class="col-md-2">\n' +
                                            '                                            <h6 class="booking-item-title">'+val.project +'</h6>\n' +
                                            '                                        </div>\n' +
                                            '                                        <div class="col-md-2">\n' +
                                            '                                            <h6 class="booking-item-title">'+val.task_code +'</h6>\n' +
                                            '                                        </div>\n' +
                                            '                                        <div class="col-md-2">\n' +
                                            '                                            <h6 class="booking-item-title">'+val.estimate +'</h6>\n' +
                                            '                                        </div>\n' +
                                            '                                    </div>';
                                    });
                                    append +='<div class="row">\n' +
                                        '                                        <div class="col-md-2">\n' +
                                        '                                        </div>\n' +
                                        '                                        <div class="col-md-2">\n' +
                                        '                                        </div>\n' +
                                        '                                        <div class="col-md-2">\n' +
                                        '                                        </div>\n' +
                                        '                                        <div class="col-md-2">\n' +
                                        '                                        </div>\n' +
                                        '                                        <div class="col-md-2">\n' +
                                        '                                            <h4 class="booking-item-title">'+'Total: ' +'</h4>\n' +
                                        '                                        </div>\n' +
                                        '                                        <div class="col-md-2">\n' +
                                        '                                            <h4 class="booking-item-title">'+msg.total +' (USD)</h4>\n' +
                                        '                                        </div>\n' +
                                        '                                    </div>\n';
                                    append += '</div>\n';
                                    $('#standart-row').after(append);


                                }


                            });
                        });

                    });


                </script>

                <ul class="booking-list">

                    <% for(i = 0;i < project.length;i++){ %>
                    <li>
                        <a class="booking-item" href="/show-task?id=<%= project[i].project_id %>">
                            <div class="row">
                                <!-- <div class="col-md-3">
                                     <div class="booking-item-img-wrap">
                                         <img src="img/800x600.png" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO suite lhotel living room" />
                                         <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>28</div>
                                     </div>
                                 </div>-->
                                <div class="col-md-6">
                                    <!-- <div class="booking-item-rating">
                                        <ul class="icon-group booking-item-rating-stars">
                                            <li><i class="fa fa-star"></i>
                                            </li>
                                            <li><i class="fa fa-star"></i>
                                            </li>
                                            <li><i class="fa fa-star"></i>
                                            </li>
                                            <li><i class="fa fa-star"></i>
                                            </li>
                                            <li><i class="fa fa-star-o"></i>
                                            </li>
                                        </ul><span class="booking-item-rating-number"><b >3.9</b> of 5</span><small>(1199 reviews)</small>
                                    </div>-->
                                    <h5 class="booking-item-title">Project :  <%= project[i].project_name %></h5>
                                    <p class="booking-item-title" style="display:none;"><%= project[i].customer_id %></p>
                                    <p class="booking-item-title">Customer : <%= project[i].firstname +' '+ project[i].lastname + ' ('+ project[i].email +')'%></p>
                                    <p class="booking-item-title">Project Code: <%= project[i].code %></p>
                                </div>
                               <div class="col-md-3">
                                   <table>
                                       <tr>
                                           <%if(data.type == 1){%>
                                           <td>
                                               <a class="btn btn-primary" href="/edit-project?id=<%= project[i].project_id%>">Edit</a>
                                           </td>

                                           <td>
                                               <a class="btn btn-primary"  href="/delete-project/<%= project[i].project_id %>">Delete</a>
                                           </td>

                                           <%}%>
                                       </tr>

                                   </table>
                                  <!-- <span class="btn btn-primary" href="/edit-project?id=<%= project[i].project_id%>">Edit</span>
                                   &nbsp;&nbsp;
                                   <span class="btn btn-primary" href="/delete-project/<%= project[i].project_id %>">Delete</span>-->
                                </div>
                            </div>
                        </a>
                    </li>

                    <% } %>


                </ul>
               <!-- <div class="row">
                    <div class="col-md-6">
                        <p><small>521 hotels found in New York. &nbsp;&nbsp;Showing 1 – 15</small>
                        </p>
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a>
                            </li>
                            <li><a href="#">2</a>
                            </li>
                            <li><a href="#">3</a>
                            </li>
                            <li><a href="#">4</a>
                            </li>
                            <li><a href="#">5</a>
                            </li>
                            <li><a href="#">6</a>
                            </li>
                            <li><a href="#">7</a>
                            </li>
                            <li class="dots">...</li>
                            <li><a href="#">43</a>
                            </li>
                            <li class="next"><a href="#">Next Page</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>Not what you're looking for? <a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">Try your search again</a>
                        </p>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="gap"></div>
    </div>



    <footer id="main-footer">
        <div class="container">
            <div class="row row-wrap">

                <div class="col-md-3">
                    <h4>Texas - HQ: </h4>
                    <h5 class="text-color">Address: 2908 National Drive, Suite 100, Garland, TX 75041 </h5>
                    <h5 class="text-color">Phone: 469.573.4008</h5>
                    <h5 class="text-color">Fax:  972.278.2097</h5>


                </div>
                <div class="col-md-3">
                    <h4>Florida - Design:</h4>
                    <h5 class="text-color">Address: Miami, </h5>
                    <h5 class="text-color">Phone:  847.920.7235 </h5>
                    <h5 class="text-color">Fax:   972.278.2097</h5>


                </div>
                <div class="col-md-3">
                    <h4>California - Sales:</h4>
                    <h5 class="text-color">Address: San Jose, California </h5>
                    <h5 class="text-color">Phone: 469.573.4008</h5>
                    <h5 class="text-color">Fax:   972.278.2097</h5>


                </div>
                <div class="col-md-3">
                    <h4>China - NPI Center:</h4>
                    <h5 class="text-color">Address: Shanghai, China</h5>
                    <h5 class="text-color">Phone:  469.573.4008</h5>
                    <h5 class="text-color">Fax:  972.278.2097</h5>


                </div>

            </div>
            <div class="row row-wrap">
                <div class="col-md-4">
                    <h5 class="text-color">Email: sales@austincircuit.com </h5>
                    <h5><a href="http://www.austincircuitdesign.com/" class="text-color">http://www.austincircuitdesign.com/</a></h5>
                    <p>Open Monday - Friday 08:00am - 06:00pm</p>
                </div>

            </div>

        </div>
    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/slimmenu.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/bootstrap-timepicker.js"></script>
    <script src="js/nicescroll.js"></script>
    <script src="js/dropit.js"></script>
    <script src="js/ionrangeslider.js"></script>
    <script src="js/icheck.js"></script>
    <script src="js/fotorama.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="js/typeahead.js"></script>
    <script src="js/card-payment.js"></script>
    <script src="js/magnific.js"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="js/fitvids.js"></script>
    <script src="js/tweet.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/gridrotator.js"></script>
    <script src="js/custom.js"></script>

</div>
</body>

</html>


